API_HOST=0.0.0.0
API_PORT=8001
DB_HOST=db
DB_PORT=5432
DB_NAME=py_ecommerce
DB_USER=myuser
DB_PWD=super_secure
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=super_secure_password
DEBUG=True